			.guestDemandTable th,td{
				font-size:20px;
			}
			.guestDemandTable th{
				text-align:right;
			
			}
			.guestDemandTable td{
				text-align:left;
			
			}
			.ContractLayoutFont{
				margin:80px;
				color:black;
				font-family: 'cwTeXYen', sans-serif;
				font-align:left;
			}
			.ChangeFont{
				font-family: 'cwTeXYen', sans-serif;
			}
			.transationNumberColor{
				text-align:right;color:red;
			}
			.buttonCircle10{
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				margin:0px 30px;
			}
			.importAdvice{
				color:red;
				text-align:center;
			}
			.guestDemandDivRowLayout{
				margin:10px;
			}
			.askRoomAdviceDivRowLayout{
				margin:40px 20px 0px;
			}
			.haveOrderFormButton{
				text-align:center;margin:20px;
			}
			.connectionDivider{
				border-width:1px;
				border-style:dashed;
				margin:0px 20px;
				border-color:#999;
				margin:20px;
			}
			.invoiceNumber{
				margin:0px 20px 0px;
			}
			.contractTextShowdow{
				box-shadow:0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 5px 100px 0 rgba(0, 0, 0, 0.19)
			}
			.contactMethod{
			color:red;font-weight:bold;
			}
			.contract4h{
				margin:15px 0px 80px;
			}
			.contractMessageappet{
				margin:15px 0px;
			}
			